<?xml version="1.0"?>
<config>
    <modules>
        <LCB_Attachments>
            <version>1.0.0</version>
        </LCB_Attachments>
    </modules>
    <global>
        <helpers>
            <lcb_attachments>
                <class>LCB_Attachments_Helper</class>
            </lcb_attachments>
        </helpers>
        <blocks>
            <lcb_attachments>
                <class>LCB_Attachments_Block</class>
            </lcb_attachments>
        </blocks>
        <models>
            <lcb_attachments>
                <class>LCB_Attachments_Model</class>
                <resourceModel>lcb_attachments_resource</resourceModel>
            </lcb_attachments>
            <lcb_attachments_resource>
                <class>LCB_Attachments_Model_Resource</class>
                <entities>		  
                    <attachment>
                        <table>lcb_attachments</table>
                    </attachment>
                    <store>
                        <table>lcb_attachments_store</table>
                    </store>		  
                    <category>
                        <table>lcb_attachments_categories</table>
                    </category>
                    <product>
                        <table>lcb_attachments_products</table>
                    </product>
                </entities>
            </lcb_attachments_resource>
        </models>
        <resources>
            <lcb_attachments_setup>
                <setup>
                    <module>LCB_Attachments</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </lcb_attachments_setup>
            <lcb_attachments_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </lcb_attachments_write>
            <lcb_attachments_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </lcb_attachments_read>
        </resources>
    </global>
    <admin>
        <routers>
            <attachments>
                <use>admin</use>
                <args>
                    <module>LCB_Attachments</module>
                    <frontName>admin_attachments</frontName>
                </args>
            </attachments>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <attachments>
                    <file>lcb_attachments.xml</file>
                </attachments>
            </updates>
        </layout>
        <translate>
            <modules>
                <attachments>
                    <files>
                        <default>LCB_Attachments.csv</default>
                    </files>
                </attachments>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <attachments>
                    <file>lcb_attachments.xml</file>
                </attachments>
            </updates>
        </layout>
        <translate>
            <modules>
                <attachments>
                    <files>
                        <default>LCB_Attachments.csv</default>
                    </files>
                </attachments>
            </modules>
        </translate>
    </frontend>
</config> 